body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.topRow {
  margin-top: 50px;
}

.middleRow {
  margin-top: 50px;
  margin-bottom: 50px;
}

.padded {
  margin-top: 20px;
  margin-bottom: 20px;
}
